.content {
  &__list {
    width: 80vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  &__item {
    cursor: pointer;
    text-transform: capitalize;
    margin-bottom: 5px;
    border-bottom: 1px solid $color-primary;
    
    span:nth-child(2) {
      float: right;
    }

    &.true {
      //  todo rework naming here (true?)
      text-decoration: line-through;
      border-bottom: 1px solid limegreen;
    }
  }
  &__header {
    cursor: default;
    text-transform: capitalize;
    margin-bottom: 5px;
    border-bottom: 3px solid darken($color-primary, 30%);
    
    span:nth-child(2) {
      float: right;
    }
  }
}
//  todo remake
.placeholder{
  display: inline-block;
}
