.content {
  &__list {
    width: 80vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  &__item {
    cursor: pointer;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid $color-primary;
    &.true {
      // todo remove
    //   text-decoration: line-through;     
      border-bottom: 1px solid limegreen;
    }
    &--delete {
      background-color: #ff9c9c;
    }
    &--complete {
      background-color: greenyellow;
    }
    &:hover > .content__options {
      opacity: 1;
      z-index: 1;
    }
  }
  &__options {
    flex: 0 0 auto;
    opacity: 0;
    & > span {
      padding: 0 5px 0 5px;
    }
  }
}
